#content[mode='dark']{
  .services__gallery{
    background-color: $color-black;
  }
}

.services__gallery{
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: $color-cool-black;
}
.services__gallery__title{
  color: transparent;
  font-size: 40vw;
  -webkit-text-stroke: 1px $color-white;
  opacity: .2!important;
  text-transform: uppercase;
  white-space: nowrap;
  width: 2230rem;

  @include animation('carousel 400s linear infinite running');

  @include media('<phone'){
    font-size: 100vw;
    @include animation('carousel 100s linear infinite running');
  }
}
.services__gallery__wrapper{
  position: absolute;
  display: flex;
  z-index: 1;
}
.services__gallery__media{
  visibility: hidden;
  width: 30rem;
  height: 40rem;
  margin: 0 2.5rem;
}
.services__gallery__media__image{
  width: 100%;
  height: 100%;
}
