#content[mode='dark']{
  .services__lists__box{
    border-color: $color-cultured-opacity;

    &:first-of-type{
      border-color: $color-cultured-opacity;
    }
  }
}

.services__lists{
  padding: 5rem 5rem 15rem;

  @include media('<phone'){
    padding: 20rem 5rem;
  }
}

.services__lists__label{
  @extend %title-30;
  color: $color-american-orange;
  text-transform: uppercase;
  white-space: nowrap;
  min-width: 40rem;
  margin-bottom: 5rem;
}

.services__lists__box{
  border-bottom: 0.4px solid $color-black;
  padding: 1rem 0;

  &:first-of-type{
    border-top: 0.4px solid $color-black;
  }
}
.services__lists__title{
  @extend %title-h2-m;
  text-transform: uppercase;
}
