#content[mode='dark']{
  .service__quality__inner__box{
    border-color: $color-cultured-opacity;
  }
}

.services__quality{
  display: flex;
  flex-direction: row;
  padding: 20rem 5rem;
  gap: 5rem;

  @include media('<phone') {
    flex-direction: column;
  }
}

.service__quality__box{
  width: 50%;
  display: flex;
  flex-direction: column;

  &:nth-child(2) {
    .services__quality__label {
      opacity: 0;
      visibility: hidden;

      @include media('<phone') {
        display: none;
      }
    }
  }

  @include media('<phone') {
    width: 100%;
  }
}

.services__quality__label{
  @extend %title-30;
  color: $color-american-orange;
  text-transform: uppercase;
  white-space: nowrap;
  min-width: 40rem;
  margin-bottom: 5rem;
}

.services__quality__title{
  @extend %title-h2;
}

.service__quality__inner__box{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  border-bottom: 0.4px solid $color-black;
  padding: 2rem 0;

  &:last-of-type{
    @include media('<phone') {
      border: none;
    }
  }
}

.services__quality__label__right{
  min-width: 20%;
  text-transform: uppercase;
  line-height: 1.5;

  span:not(:last-of-type){
    color: $color-american-orange;
  }

  @include media('<phone') {
    min-width: 38%;
  }
}

.services__quality__description{
  line-height: 1.5;
}
