.home__gallery{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-of-type{
    height: auto;
    flex-direction: column;
    padding-bottom: 10rem;
    .home__gallery__wrapper{
      flex-wrap: wrap;
      width: 100vw;
      padding:0 5rem;
      column-gap: 15rem;
    }
    .home__gallery__title{
      @extend %title-30;
      color: $color-american-orange;
      width: 100vw;
      height: auto;
      overflow: hidden;
      position: relative;
      margin: 10rem 0 5rem;
      -webkit-text-stroke: unset;
      opacity: 1;
      text-transform: uppercase;
      white-space: normal;
      text-align: center;
    }
    .home__gallery__media{
      width: calc((100vw - 70rem) / 5);
      height: 20rem;
      position: relative;

      &:hover{
        .home__gallery__media__image{
          filter: grayscale(0%);
          opacity: 1;
        }
      }
    }
    .home__gallery__media__image{
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      filter: grayscale(100%);
      opacity: 0.7;
    }
  }
}
.home__gallery__title{
  color: transparent;
  width: 100vw;
  height: 40vw;
  overflow: hidden;
  position: absolute;
  font-size: 38vw;
  margin: -10vw 0 0;
  -webkit-text-stroke: 1px #000000;
  opacity: .2;
  text-transform: uppercase;
  white-space: nowrap;
}
.home__gallery__wrapper{
  display: flex;
  width: 300rem;
  gap: 5rem;
  z-index: 1;
}
.home__gallery__media{
  width: 50rem;
  height: 33rem;
}
.home__gallery__media__image{
  width: 100%;
  height: 100%;
}