.navigation {
  @extend %cover;

  color: $color-white;
  z-index: z('navigation');
  position: fixed;
  pointer-events: none;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  &.open {
    .navigation__link{
      @include media('<phone') {
        color: $color-white!important;
      }
    }
  }
}

.navigation__link {
  // font-size: 0;
  font-size: 2.3rem;
  position: absolute;
  left: 5rem;
  top: 3.7rem;
  width: 12.8rem;
  pointer-events: auto;
  transition: opacity 0.4s ease;
  z-index: 1;

  &:hover {
    opacity: 0.5;
  }

  @include media('<phone') {
    width: 22rem;
    font-size: 3.6rem;
  }
}
.navigation__link__icon {
  display: block;
}
.navigation__list {
  position: absolute;
  right: 5rem;
  top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.navigation__list__item {
  pointer-events: auto;
  @include media('<phone'){
    visibility: hidden!important;
  }
}
.navigation__list__link {
  @extend %link--hidden;
  @extend %title-20;

  display: block;
  line-height: 1;
}

// Mobile Navigation

.navigation__mobile__button{
  display: none;
  @include media('<phone'){
    display: block;
    position: absolute;
    width: 6.75rem;
    height: 6.75rem;
    right: 5rem;
    top: 5rem;
    pointer-events: auto;
    z-index: z('navigation');

    .navigation__mobile__menu:first-of-type{
      top: 2rem;
    }

    .navigation__mobile__menu {
      top: 4rem;
      width: 6.75rem;
      height: 0.675rem;
      background: $color-white;
      position: absolute;
      transition: 400ms ease;
    }

    &.open{
      .navigation__mobile__menu:first-of-type{
        transform: rotate(-45deg);
      }

      .navigation__mobile__menu {
        background: $color-white!important;
        transform: rotate(45deg);
        top: 3rem;
      }
    }
  }
}

.navigation__mobile{
  display: none;
  @include media('<phone'){
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $color-cool-black;
    transform: translateX(-100%);
    pointer-events: initial;
    transition: 800ms ease;

    &.open{
      @include media('<phone'){
        transform: translateX(0);
      }
    }
  }
}

.navigation__mobile__wrapper{
  @include media('<phone'){
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 25rem 5rem;
  }
}

.navigation__mobile__list{
  @include media('<phone'){
    display: flex;
    flex-direction: column;
    font-size: 3.6rem;
    text-transform: uppercase;
  }
}
.navigation__mobile__list__item{
  @include media('<phone'){
    border-bottom: 1px solid;
    padding: 1rem 0;
    color: $color-white;
  }
}
.navigation__mobile__list__link{
  @include media('<phone'){

  }
}

.navigation__mobile__content{
  @include media('<phone'){
    color: $color-white;
    position: absolute;
    bottom: 20rem;
    width: calc(100vw - 10rem);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}

.navigation__mobile__content__office{
  line-height: 1.5;
  border-bottom: 1px solid $color-white;
  padding-bottom: 2.5rem;
}

.navigation__mobile__content__contact{
  line-height: 1.5;
  border-bottom: 1px solid $color-white;
  padding-bottom: 2.5rem;
}

.navigation__mobile__content__download{
  @include media('<phone') {
    display: none;
  }
}

.navigation__mobile__content__media{
  width: 15rem;

  @include media('<phone') {
    width: 25rem;
    display: none;
  }
}

.navigation__mobile__content__media__image{
  width: 100%;
}

// Switch button

.mode{
  display: flex;
  @include media('<phone'){
    visibility: visible!important;
    position: fixed;
    top: 6.3rem;
    right: 16rem;
    z-index: 1;
  }
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 4rem;
  height: 2rem;
  background: $color-cultured;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  border: 0.15rem solid $color-cool-black;

  @include media('<phone'){
    text-indent: 3rem;
    width: 12rem;
    height: 4rem;
    font-size: small;
    color: $color-cool-black;
    text-transform: uppercase;
  }
}

label:after {
  content: '';
  background: $color-cool-black;
  width: 1.4rem;
  height: 1.4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0.185rem;
  left: 0.3rem;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;

  @include media('<phone'){
    width: 3rem;
    height: 3rem;
    top: 0.4rem;
    left: 0.4rem;
  }
}

input:checked + label {
  background: $color-black;
  border-color: $color-white;
  @include media('<phone'){
    color: $color-white;
    text-indent: -3rem;
  }
}

input:checked + label:after {
  background: $color-white;
  left: calc(100% - 0.3rem);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
