.company__gallery--2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 10rem;

  @include media('<phone'){
    padding-bottom: 20rem;
  }
}

.company__gallery__title--2{
  @extend %title-30;
  color: $color-american-orange;
  width: 100vw;
  margin: 10rem 0 5rem;
  text-transform: uppercase;
  text-align: center;
}
.company__gallery__wrapper--2{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  gap: 5rem;
  padding: 0 5rem;
  column-gap: 15rem;
  z-index: 1;

  @include media('<phone'){
    column-gap: 5rem;
  }
}
.company__gallery__media--2{
  width: calc((100vw - 70rem) / 5);
  height: 20rem;
  position: relative;

  &:hover{
    .company__gallery__media__image--2{
      filter: grayscale(0%);
      opacity: 1;
    }
  }

  @include media('<phone'){
    width: calc((100vw - 30rem) / 5);
    height: 6rem;
  }
}
.company__gallery__media__image--2{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)!important;
  filter: grayscale(100%);
  opacity: 0.7;
}
