.company__result{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $color-black;
  border-left-width: 0;
  border-right-width: 0;
  margin: 0 5rem;
}
.company__result__box{
  padding: 3rem 5rem 5rem;
  text-align: center;
  white-space: nowrap;
  transition: all .2s ease;
}
.company__result__title{
  font-size: 15rem;
}
.company__result__label{
  padding-right: 1.3rem;
  text-align: end;
}

.company__result__wrapper {
  flex-direction: row;
  display: flex;

  @include animation('carousel 30s linear infinite running');

  @include media('<phone'){
    @include animation('carousel__mobile 180s linear infinite running');
  }
}
